/* reset */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard-Regular';
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.maxwidth-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5px 0 0;
}

/* Header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

header .bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #fff;
  color: #8b00fe;
  font-size: 15px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

header .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* Nav */
nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

nav.fixed {
  position: fixed;
}

nav .nav-inner {
  width: 80%;
  height: 8vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  cursor: pointer;
}

nav a.search {
  width: 22.75px;
  height: 26.5px;
  text-align: center;
}

nav .logo {
  width: 200px;
}

.toggle-menu {
  display: none;
  position: fixed;
  top: 8vh;
  left: 0;
  background: linear-gradient(#ddd, #fff);
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow-x: auto;
}

.toggle-menu.show {
  display: block;
}

.menu-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-wrapper a {
  position: absolute;
  top: 25px;
}

.main-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 70px 90px;
  margin-top: 40px;
  line-height: 1.7;
}

.main-menu li:hover h2 {
  border-bottom: 1px solid #000;
}

.main-menu h2 {
  margin-bottom: 5px;
}

.sub-menu li {
  font-size: 16px;
  opacity: 0.5;
}

.sub-menu li:hover {
  opacity: 1;
}

/* Portpolio */
.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 90px;
  color: #333333;
}

section.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 40px 0;
}

section.portfolio img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

section.portfolio h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

section.portfolio a {
  display: inline-block;
  padding-top: 10px;
  color: #0068b8;
  font-weight: bold;
}

section.portfolio a:hover i {
  margin-left: 10px;
}

/* Course */
section.course .course-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 40px 0;
}

.course-menu li {
  font-size: 19px;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background: #ddd;
  color: #333333;
}

.course-menu li:hover {
  opacity: 0.7;
}

swiper-container img {
  width: 100%;
  border-radius: 10px;
}

/* K-Digital */
section.k-digital {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(https://www.bigdata-forest.kr/images/main/img-main-02.png)
    no-repeat center center/cover;
  margin: 80px 0;
  border-radius: 5px;
}

.k-digital .content {
  width: 45%;
  padding: 50px 0 0 30px;
  color: #fff;
}

.k-digital .content h2 {
  font-size: 28px;
}

.k-digital .content p {
  margin: 15px 0 20px;
  font-size: 16px;
}

.k-digital .content a {
  position: absolute;
  color: #333333;
  left: 40px;
  bottom: 40px;
}

/* Follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 30px;
  font-size: 20px;
}

.follow img {
  width: 40px;
}

.follow * {
  margin-right: 10px;
}

/* Footer */
footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 30px 0;
}

.footer-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.8;
}

footer .copyright {
  display: flex;
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
}

footer .copyright li {
  margin-right: 20px;
  font-size: 16px;
}

@media (max-width: 786px) {
  header {
    height: 75vh;
  }

  .main-menu {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .sub-menu {
    display: none;
  }
  .sub-menu.show {
    display: block;
  }

  section.portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  section.course .course-menu {
    grid-template-columns: repeat(4, 1fr);
  }

  section.k-digital .content {
    width: 70%;
  }
}

@media (max-width: 500px) {
  header {
    height: 50vh;
  }

  section.portfolio {
    grid-template-columns: repeat(1, 1fr);
  }

  section.course .course-menu {
    grid-template-columns: repeat(2, 1fr);
  }

  section.k-digital .content p {
    display: none;
  }
}
