/* 초기화 코드*/
* {margin:0; padding:0; box-sizing: border-box;}
a {text-decoration: none;}

#container {
    width:100%;
    margin:0 auto;
}
/* 헤더 스타일 */
header {
    background-color: gray;
    height:100vh;
    background: url("../images/header.jpg") center;
    background-size: cover;
}
header nav {
    background: #111;
    text-align:center;
    /* height: 50px;
    line-height: 50px; */
    /* padding:20px; */
}

header nav ul li {
    display: inline-block;
    margin: 15px 30px;
}

header nav ul li a{
    color: #fff;
}

/* 콘텐츠 스타일 */
#contents {
    display:flex;
    flex-direction: column;
}

#contents section{
    border-bottom:1px solid #ccc;
    padding: 50px 7%;
}

#contents section#map {
    background: #eee;
}

#contents .content {
    padding: 20px;
    font-size: 1.2em;
    line-height: 2.5em;
}

#contents .page-title {
    margin-bottom: 30px;
    font-size: 1.3em;
}

#contents .content .photo {
    display: none; /* 이미지 숨김 */
}



/* 푸터 스타일 */
footer {
    background-color: #222;
    text-align: center;
    padding:20px;
    color: #eee;
    font-size: 1.5em;
}


/* 태블릿 모드 - 768px 이상 */
@media screen and (min-width:768px) and (max-width:960px)  {
    #contents {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #contents section {
        width:50%;
    }
    #contents section#map {
        border-left:1px solid #ccc;
    }
    #contents section#choice {
        width:100%;
    }
}

/* PC 모드 - 960px 이상 */
@media screen and (min-width:960px) {
    #contents section {
        padding:50px 5%;
    }

    #contents .content {
        display:flex;
    }
    
    #contents .content article {
        width:50%;
    }

    #contents .content .photo {
        display: block; /* 이미지 보이게함 */
        text-align: center;
    }
    #contents .content .text {
        padding-left:50px;
    }
}